<html>
  <body>
    <div class="ui-page" deviceName="androidPhone" deviceType="mobile" deviceWidth="360" deviceHeight="640">
         <div id="t-226ddec7-9f2f-469c-8d33-c31994594372" class="template growth-both devMobile canvas firer commentable non-processed" alignment="left" name="Plantilla_Principal" width="360" height="640">
         <div id="backgroundBox"></div>
         <div id="alignmentBox">
           <link type="text/css" rel="stylesheet" href="./resources/templates/226ddec7-9f2f-469c-8d33-c31994594372-1543146102709.css" />
           <!--[if IE]><link type="text/css" rel="stylesheet" href="./resources/templates/226ddec7-9f2f-469c-8d33-c31994594372-1543146102709-ie.css" /><![endif]-->
           <!--[if lte IE 8]><link type="text/css" rel="stylesheet" href="./resources/templates/226ddec7-9f2f-469c-8d33-c31994594372-1543146102709-ie8.css" /><![endif]-->
           <div id="t-Bg_1" class="pie percentage label singleline firer commentable pin vpin-beginning hpin-beginning non-processed-percentage non-processed-pin non-processed"   datasizewidth="100%" datasizeheight="76px" dataX="0" dataY="0" ><div class="backgroundLayer"></div><div class="paddingLayer"><div class="content"><div class="valign"><span id="rtr-t-Bg_1_0"></span></div></div></div></div>
           <div id="t-Section-bar" class="group firer ie-background commentable non-processed" datasizewidth="121px" datasizeheight="25px" dataX="154" dataY="32" >
             <div id="t-Text_5" class="pie label singleline autofit firer ie-background commentable pin vpin-beginning hpin-beginning non-processed-pin non-processed"   datasizewidth="121px" datasizeheight="25px" dataX="154" dataY="32" ><div class="backgroundLayer"></div><div class="paddingLayer"><div class="content"><div class="valign"><span id="rtr-t-Text_5_0">Make My Way</span></div></div></div></div>
           </div>
           <div id="t-Status-bar" class="group firer ie-background commentable non-processed" datasizewidth="0px" datasizeheight="0px" dataX="0" dataY="0" >
             <div id="t-Bg_status" class="pie percentage rectangle firer commentable pin vpin-beginning hpin-beginning non-processed-percentage non-processed-pin non-processed"   datasizewidth="100%" datasizeheight="20px" dataX="0" dataY="0" >
              <div class="backgroundLayer"></div>
              <div class="paddingLayer">
                <div class="clipping">
                  <div class="content">
                    <div class="valign">
                      <span id="rtr-t-Bg_status_0"><br /></span>
                    </div>
                  </div>
                </div>
              </div>
             </div>
             <div id="t-hour" class="pie label singleline firer ie-background commentable pin vpin-beginning hpin-end non-processed-pin non-processed"   datasizewidth="46px" datasizeheight="20px" dataX="0" dataY="0" ><div class="backgroundLayer"></div><div class="paddingLayer"><div class="content"><div class="valign"><span id="rtr-t-hour_0">15:45</span></div></div></div></div>

             <div id="t-signals" class="pie image firer ie-background commentable pin vpin-beginning hpin-end non-processed-pin non-processed"   datasizewidth="61px" datasizeheight="20px" dataX="46" dataY="0"   alt="image">
                 <img src="./images/35c4f7cb-1d06-48a6-aaf6-387f629615c2.png" />
             </div>
           </div>

           <div id="t-Image_1" class="pie image firer ie-background commentable pin hpin-center non-processed-pin non-processed"   datasizewidth="129px" datasizeheight="129px" dataX="0" dataY="83"   alt="image">
               <img src="./images/286717e3-8ab2-4b3a-9b96-de85152de052.jpg" />
           </div>
           <div id="t-Text_1" class="pie label singleline autofit firer ie-background commentable pin hpin-center non-processed-pin non-processed"   datasizewidth="121px" datasizeheight="20px" dataX="0" dataY="219" ><div class="backgroundLayer"></div><div class="paddingLayer"><div class="content"><div class="valign"><span id="rtr-t-Text_1_0">Juan Perez Alonso</span></div></div></div></div>
           <div id="t-Rectangle_1" class="pie percentage rectangle firer commentable non-processed-percentage non-processed"   datasizewidth="100%" datasizeheight="65%" dataX="0" dataY="275" >
            <div class="backgroundLayer"></div>
            <div class="paddingLayer">
              <div class="clipping">
                <div class="content">
                  <div class="valign">
                    <span id="rtr-t-Rectangle_1_0"></span>
                  </div>
                </div>
              </div>
            </div>
           </div>
           <div id="t-Image_46" class="pie image firer click ie-background commentable pin vpin-end hpin-center non-processed-pin non-processed"   datasizewidth="86px" datasizeheight="83px" dataX="0" dataY="27"   alt="image" systemName="./images/7b96a462-a7cb-4b1f-b1a8-2f070ca8e60a.svg" overlay="#002C91">
               <svg preserveAspectRatio='none' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M13 7h-2v4H7v2h4v4h2v-4h4v-2h-4V7zm-1-5C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z"/></svg>
           </div>
           <div id="t-Files-row_3" class="group firer ie-background commentable non-processed" datasizewidth="0px" datasizeheight="70px" dataX="0" dataY="298" >
             <div id="t-Two-line-item_9" class="pie percentage rectangle firer commentable pin hpin-beginning non-processed-percentage non-processed-pin non-processed"   datasizewidth="100%" datasizeheight="70px" dataX="0" dataY="0" >
              <div class="backgroundLayer"></div>
              <div class="paddingLayer">
                <div class="clipping">
                  <div class="content">
                    <div class="valign">
                      <span id="rtr-t-Two-line-item_9_0">Martes, Torrevieja</span><span id="rtr-t-Two-line-item_9_1"><br /></span><span id="rtr-t-Two-line-item_9_2">Feb 11, 2019</span>
                    </div>
                  </div>
                </div>
              </div>
             </div>
             <div id="t-information_3" class="pie image firer ie-background commentable pin hpin-end non-processed-pin non-processed"   datasizewidth="23px" datasizeheight="23px" dataX="31" dataY="23"   alt="image" systemName="./images/f11a0e67-9f37-4d50-93cf-2cb194f802da.svg" overlay="#999999">
                 <svg preserveAspectRatio='none' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z"/></svg>
             </div>
             <div id="shapewrapper-t-base_5" class="shapewrapper shapewrapper-t-base_5 non-processed"   datasizewidth="40px" datasizeheight="40px" dataX="17" dataY="13" >
                 <svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg" id="svg-t-base_5" class="svgContainer" style="width:100%; height:100%;">
                     <g>
                         <g clip-path="url(#clip-t-base_5)">
                                 <ellipse id="t-base_5" class="pie ellipse shape non-processed-shape firer commentable pin hpin-beginning non-processed-pin non-processed" cx="20.0" cy="20.0" rx="20.0" ry="20.0">
                                 </ellipse>
                         </g>
                     </g>
                     <defs>
                         <clipPath id="clip-t-base_5" class="clipPath">
                                 <ellipse cx="20.0" cy="20.0" rx="20.0" ry="20.0">
                                 </ellipse>
                         </clipPath>
                     </defs>
                 </svg>
                 <div class="shapert-clipping">
                     <div id="shapert-t-base_5" class="content firer" >
                         <div class="valign">
                             <span id="rtr-t-base_5_0"></span>
                         </div>
                     </div>
                 </div>
             </div>
             <div id="t-folder_5" class="pie image firer ie-background commentable pin hpin-beginning non-processed-pin non-processed"   datasizewidth="24px" datasizeheight="24px" dataX="25" dataY="20"   alt="image" systemName="./images/f966cb02-d1b1-4805-90a4-3cc729decfbf.svg" overlay="#FFFFFF">
                 <svg preserveAspectRatio='none' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V8c0-1.1-.9-2-2-2h-8l-2-2z"/></svg>
             </div>
           </div>
           <div id="t-Files-row_4" class="group firer ie-background commentable non-processed" datasizewidth="0px" datasizeheight="70px" dataX="0" dataY="378" >
             <div id="t-Two-line-item_10" class="pie percentage rectangle firer commentable pin hpin-beginning non-processed-percentage non-processed-pin non-processed"   datasizewidth="100%" datasizeheight="70px" dataX="0" dataY="0" >
              <div class="backgroundLayer"></div>
              <div class="paddingLayer">
                <div class="clipping">
                  <div class="content">
                    <div class="valign">
                      <span id="rtr-t-Two-line-item_10_0">Miercoles, Torrevieja</span><span id="rtr-t-Two-line-item_10_1"><br /></span><span id="rtr-t-Two-line-item_10_2">Feb 11, 2019</span>
                    </div>
                  </div>
                </div>
              </div>
             </div>
             <div id="t-information_4" class="pie image firer ie-background commentable pin hpin-end non-processed-pin non-processed"   datasizewidth="23px" datasizeheight="23px" dataX="31" dataY="23"   alt="image" systemName="./images/f11a0e67-9f37-4d50-93cf-2cb194f802da.svg" overlay="#999999">
                 <svg preserveAspectRatio='none' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z"/></svg>
             </div>
             <div id="shapewrapper-t-base_6" class="shapewrapper shapewrapper-t-base_6 non-processed"   datasizewidth="40px" datasizeheight="40px" dataX="17" dataY="13" >
                 <svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg" id="svg-t-base_6" class="svgContainer" style="width:100%; height:100%;">
                     <g>
                         <g clip-path="url(#clip-t-base_6)">
                                 <ellipse id="t-base_6" class="pie ellipse shape non-processed-shape firer commentable pin hpin-beginning non-processed-pin non-processed" cx="20.0" cy="20.0" rx="20.0" ry="20.0">
                                 </ellipse>
                         </g>
                     </g>
                     <defs>
                         <clipPath id="clip-t-base_6" class="clipPath">
                                 <ellipse cx="20.0" cy="20.0" rx="20.0" ry="20.0">
                                 </ellipse>
                         </clipPath>
                     </defs>
                 </svg>
                 <div class="shapert-clipping">
                     <div id="shapert-t-base_6" class="content firer" >
                         <div class="valign">
                             <span id="rtr-t-base_6_0"></span>
                         </div>
                     </div>
                 </div>
             </div>
             <div id="t-folder_6" class="pie image firer ie-background commentable pin hpin-beginning non-processed-pin non-processed"   datasizewidth="24px" datasizeheight="24px" dataX="25" dataY="20"   alt="image" systemName="./images/f966cb02-d1b1-4805-90a4-3cc729decfbf.svg" overlay="#FFFFFF">
                 <svg preserveAspectRatio='none' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V8c0-1.1-.9-2-2-2h-8l-2-2z"/></svg>
             </div>
           </div>
           <div id="t-Files-row_5" class="group firer ie-background commentable non-processed" datasizewidth="0px" datasizeheight="70px" dataX="0" dataY="458" >
             <div id="t-Two-line-item_11" class="pie percentage rectangle firer commentable pin hpin-beginning non-processed-percentage non-processed-pin non-processed"   datasizewidth="100%" datasizeheight="70px" dataX="0" dataY="0" >
              <div class="backgroundLayer"></div>
              <div class="paddingLayer">
                <div class="clipping">
                  <div class="content">
                    <div class="valign">
                      <span id="rtr-t-Two-line-item_11_0">Jueves, Torrevieja</span><span id="rtr-t-Two-line-item_11_1"><br /></span><span id="rtr-t-Two-line-item_11_2">Feb 12, 2019</span>
                    </div>
                  </div>
                </div>
              </div>
             </div>
             <div id="t-information_5" class="pie image firer ie-background commentable pin hpin-end non-processed-pin non-processed"   datasizewidth="23px" datasizeheight="23px" dataX="31" dataY="23"   alt="image" systemName="./images/f11a0e67-9f37-4d50-93cf-2cb194f802da.svg" overlay="#999999">
                 <svg preserveAspectRatio='none' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z"/></svg>
             </div>
             <div id="shapewrapper-t-base_7" class="shapewrapper shapewrapper-t-base_7 non-processed"   datasizewidth="40px" datasizeheight="40px" dataX="17" dataY="13" >
                 <svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg" id="svg-t-base_7" class="svgContainer" style="width:100%; height:100%;">
                     <g>
                         <g clip-path="url(#clip-t-base_7)">
                                 <ellipse id="t-base_7" class="pie ellipse shape non-processed-shape firer commentable pin hpin-beginning non-processed-pin non-processed" cx="20.0" cy="20.0" rx="20.0" ry="20.0">
                                 </ellipse>
                         </g>
                     </g>
                     <defs>
                         <clipPath id="clip-t-base_7" class="clipPath">
                                 <ellipse cx="20.0" cy="20.0" rx="20.0" ry="20.0">
                                 </ellipse>
                         </clipPath>
                     </defs>
                 </svg>
                 <div class="shapert-clipping">
                     <div id="shapert-t-base_7" class="content firer" >
                         <div class="valign">
                             <span id="rtr-t-base_7_0"></span>
                         </div>
                     </div>
                 </div>
             </div>
             <div id="t-folder_7" class="pie image firer ie-background commentable pin hpin-beginning non-processed-pin non-processed"   datasizewidth="24px" datasizeheight="24px" dataX="25" dataY="20"   alt="image" systemName="./images/f966cb02-d1b1-4805-90a4-3cc729decfbf.svg" overlay="#FFFFFF">
                 <svg preserveAspectRatio='none' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V8c0-1.1-.9-2-2-2h-8l-2-2z"/></svg>
             </div>
           </div>
           <div id="t-Image_121" class="pie image firer ie-background commentable non-processed"   datasizewidth="24px" datasizeheight="24px" dataX="92" dataY="246"   alt="image" systemName="./images/7ca29895-a2fc-41ab-ba63-c51b2760c936.svg" overlay="#FF2D2D">
               <svg preserveAspectRatio='none' xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z"/></svg>
           </div>
           <div id="t-Text_2" class="pie label singleline autofit firer ie-background commentable pin hpin-center non-processed-pin non-processed"   datasizewidth="128px" datasizeheight="21px" dataX="0" dataY="247" ><div class="backgroundLayer"></div><div class="paddingLayer"><div class="content"><div class="valign"><span id="rtr-t-Text_2_0">Torrevieja</span><span id="rtr-t-Text_2_1">, Espa&ntilde;a</span></div></div></div></div>

           </div>
           <div id="loadMark"></div>
         </div>  
    </div>
  </body>
</html>